<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641303044294-5e6stspcsr8j3r5oj4fm5curp4vkqeko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641303044294-5e6stspcsr8j3r5oj4fm5curp4vkqeko</string>
	<key>API_KEY</key>
	<string>AIzaSyBLpWX4QMIf_EMn_-O93thNoyCrkWN2nDI</string>
	<key>GCM_SENDER_ID</key>
	<string>641303044294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialtechlabs.bestfriends</string>
	<key>PROJECT_ID</key>
	<string>bestfriends-5c885</string>
	<key>STORAGE_BUCKET</key>
	<string>bestfriends-5c885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641303044294:ios:b404c28ea69760233537c7</string>
</dict>
</plist>