<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187773816010-4un4r7dohkv7kd3tnen2r144t54nfgpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187773816010-4un4r7dohkv7kd3tnen2r144t54nfgpo</string>
	<key>API_KEY</key>
	<string>AIzaSyAnRIag1EIHxdEP5ILbevpHosuTk_u_ex0</string>
	<key>GCM_SENDER_ID</key>
	<string>187773816010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialtechlabs.bestfriends</string>
	<key>PROJECT_ID</key>
	<string>bestfriends-6a2da</string>
	<key>STORAGE_BUCKET</key>
	<string>bestfriends-6a2da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187773816010:ios:f560d5db3e20ff44bf7833</string>
</dict>
</plist>